<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Hello React!</title>

  </head>
  <body>
    <div id="app"></div>
    hi, <%= user.username %>
    <a href="/logout">loguot</a>
  </body>
  <script src="/build/app.bundle.js"></script>
  <script src="/build/functions.bundle.js"></script>
</html>
